.delay-0 {
  transition-delay: 0s;
}

.delay-100 {
  transition-delay: .1s;
}

.delay-\[unset\], .delay-unset {
  transition-delay: unset;
}

.duration-0 {
  transition-duration: 0s;
}

.duration-100 {
  transition-duration: .1s;
}

.duration-150 {
  transition-duration: .15s;
}

.duration-\[unset\], .duration-unset {
  transition-duration: unset;
}

.ease-\[cubic-bezier\(0\.4\,0\,0\.2\,1\)\] {
  transition-timing-function: [cubic-bezier(.4, 0, .2, 1) ];
}

.ease-in {
  transition-timing-function: in;
}

.ease-in-out {
  transition-timing-function: in-out;
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-out {
  transition-timing-function: out;
}

.transition {
  transition-duration: var(--default-transition-duration);
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, visibility, content-visibility, overlay, pointer-events;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-\[\[background-image\]\] {
  transition-duration: var(--default-transition-duration);
  transition-property: background-image;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-\[\[custom-property\]\] {
  transition-duration: var(--default-transition-duration);
  transition-property: custom-property;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-all {
  transition-duration: var(--default-transition-duration);
  transition-property: all;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-colors {
  transition-duration: var(--default-transition-duration);
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-none {
  transition-property: none;
}

.transition-opacity {
  transition-duration: var(--default-transition-duration);
  transition-property: opacity;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-shadow {
  transition-duration: var(--default-transition-duration);
  transition-property: box-shadow;
  transition-timing-function: var(--default-transition-timing-function);
}

.transition-transform {
  transition-duration: var(--default-transition-duration);
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: var(--default-transition-timing-function);
}
