.-bg-linear-\[60deg\] {
  --tw-gradient-position: calc(60deg * -1);
  background-image: linear-gradient(var(--tw-gradient-stops, calc(60deg * -1)));
}

.bg-\[\#000000FF\] {
  background-color: #000;
}

.bg-\[\#243C5AFF\] {
  background-color: #243c5a;
}

.bg-\[\#640064FF\] {
  background-color: #640064;
}

.bg-\[url\(\'\/img\/hero-pattern\.svg\'\)\] {
  background-image: url("/img/hero-pattern.svg");
}

.bg-attach-\[unset\], .bg-attach-unset {
  background-attachment: unset;
}

.bg-clip-\[unset\] {
  background-clip: unset;
}

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-text {
  background-clip: text;
}

.bg-clip-unset {
  background-clip: unset;
}

.bg-conic {
  --tw-gradient-position: in oklab;
  background-image: conic-gradient(var(--tw-gradient-stops));
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-linear-\[45deg\] {
  --tw-gradient-position: 45deg in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops, 45deg in oklab));
}

.bg-linear-to-br {
  --tw-gradient-position: to bottom right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-linear-to-t {
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-local {
  background-attachment: local;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-none {
  background-image: none;
}

.bg-origin-\[unset\] {
  background-origin: unset;
}

.bg-origin-border {
  background-origin: border-box;
}

.bg-origin-content {
  background-origin: content-box;
}

.bg-origin-padding {
  background-origin: padding-box;
}

.bg-origin-unset {
  background-origin: unset;
}

.bg-radial {
  --tw-gradient-position: in oklab;
  background-image: radial-gradient(var(--tw-gradient-stops));
}

.bg-red-500 {
  background-color: #ef4444;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-repeat-\[unset\] {
  background-repeat: unset;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-repeat-unset {
  background-repeat: unset;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-slate-500 {
  background-color: #64748b;
}

.bg-transparent {
  background-color: #0000;
}
